body {
     background-color: #212121;
     font-family: monospace;
     color: #E0E0E0;
     display: flex;
     justify-content: center;
}

.main {
     display: grid;
     grid-template-columns: 100px 250px 100px;
     grid-template-rows: 1fr 1fr 1fr 1fr;
}

.playfield {
     grid-column: 2;
     grid-row: 1 / span 3;
     justify-self: center;
     border-width: 5px;
     border-style: solid;
     border-color: #AED581;
}

.next-piece {
     grid-column: 3;
     grid-row: 1;
     justify-self: left;
     height: 100px;
     width: 100px;
     padding: 1px;
     border-style: solid;
     border-color: #AED581;
     border-width: 1px;
     text-align: center;
}

.controls {
     grid-column: 1 / span 3;
     grid-row: 4;
     justify-self: center;
}

.line {
     height: 30px;
}

.line--sm {
     height: 22px;
}

.controls--mobile {
     padding-top: 10px;
     display: grid;
     grid-template-columns: 180px auto 120px;
}

.controls--mobile button {
     border: 0;
     border-radius: 5px;
     background-color: #AED581;
     color: white;
}

.controls--mobile > .directional-buttons {
     grid-column: 1 / span 1;
     display: grid;
     grid-template-columns: repeat(3, 50px [col-start]);
     grid-template-rows: repeat(3, 50px [col-start]);
}

.controls--mobile > .directional-buttons > #button-up {
     grid-column: 2;
     grid-row: 1;
}

.controls--mobile > .directional-buttons > #button-right {
     grid-column: 3;
     grid-row: 2;
}

.controls--mobile > .directional-buttons > #button-down {
     grid-column: 2;
     grid-row: 3;
}

.controls--mobile > .directional-buttons > #button-left {
     grid-column: 1;
     grid-row: 2;
}

.controls--mobile > .action-buttons {
     grid-column: 3;
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
}

.controls--mobile > .action-buttons > button {
     height: 40px;
}

.controls--keyboard {
     display: flex;
}

.controls--keyboard > .keys {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     padding: 0;
     list-style-type: none;
     color: #AED581;
}

.controls--keyboard > .descriptions {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     list-style-type: none;
     color: #E0E0E0;
}
